@keyframes loading_background{
    0%, 80%{
        transform: scale(1);
    }
    100%{
        transform: scaleX(0);
    }
}

@keyframes spinner_anim{
    0%{
        transform: translateY(-200%) scale(0);
    }
    16%{
        transform: translateY(5%) scale(1);
    }
    21%{
        transform: translateY(-3%);
    }
    24%{
        transform: translateY(1%);
    }
    25%{
        transform: translateY(0%);
    }
    75%{
        transform: translateX(0%);
    }
    78%{
        transform: translateX(-5%) skew(15deg, 0deg);
    }
    100%{
        transform: translateX(200%);
    }
}

@keyframes spinnerP_anim{
    0%{
        transform: scale(0);
    }
    25%, 75%{
        transform: scale(1);
    }
    100%{
        ;
    }
}

@keyframes spinnerIcon_anim{
    0%{
        transform: rotate(0deg) scale(0);
    }
    25%{
        transform: rotate(180deg) scale(1);
    }
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(540deg);
    }
    100%{
        transform: rotate(720deg);
    }
}