@mixin tester() {
	border: 1px solid;
}

@mixin shadows($map) {
	box-shadow: map-get($map, vh) map-get($btn-shdw, hh)
		map-get($btn-shdw, blur) map-get($btn-shdw, color);
}

@mixin btn {
	&__btn {
		width: 60%;
		border-radius: 20px;
		cursor: pointer;
		border: none;
		background: linear-gradient(-5deg, $color-primary, $color-secondary);
		outline: none;
		color: white;
		@include shadows($btn_shdw);
	}
}

@mixin flexbox($map) {
	display: flex;
	flex-flow: map-get($map, wrap) map-get($map, direction);
	justify-content: map-get($map, content);
	align-items: map-get($map, align);
}

@mixin section_header($map, $key) {
	$value: map-get($map, $key);
	&__header {
		@include flexbox($value);
		& > * {
			width: auto;
		}
		& h2 {
			@if $key == form {
				text-align: center;
			} @else {
				text-align: left;
			}
		}
	}
}

@mixin section($map) {
	@include flexbox($flexmap);
	@include section_header($shead_map);
}

@mixin bloc() {
}
