@mixin tester() {
	border: 1px solid;
}

@mixin block-padding(){
	padding: 1em;
}

@mixin flex($direction){
	display: flex;
	flex-flow: $direction wrap;
}

@mixin block-shadow{
	box-shadow: 0px 8px 15px $shadow-color;
}