$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-background-dark: #353535;
$color-background-normal: #eaeaea;
$color-background-light: #f6f6f6;
$color-new: #139273;
$shadow-color: lightgrey;
$shadow-color_hover: grey;

$media-width__map: (
    tablet: (min: 761px, max: 1024px, howto-width: 40%, rest-width: 40%, plat-width: 80%, plat__element-width: 100%),
    desktop: (min: 1025px, max: none, howto-width: 30%, rest-width: 40%, plat-width: 45%, plat__element-width: 100%)
);