$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-background-dark: #353535;
$color-background-normal: #eaeaea;
$color-background-light: #f6f6f6;
$color-background-new: #99E2D0;
$color-new: #139273;
$shadow-color: grey;
