/* Variables */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/* Maps */

$btn_shdw: (
	vh: 5px,
	hh: 5px,
	blur: 2px,
	color: lightgrey,
);

$howto_shdw: (
	vh: 5px,
	hh: 5px,
	blur: 2px,
	color: lightgrey,
);
