$flex_standard: (
	wrap: wrap,
	direction: row,
	justify: flex-start,
	items: flex-start,
	align: normal,
);

$flex_w_ltr_c_c_n: (
	wrap: wrap,
	direction: row,
	justify: center,
	items: center,
	align: normal,
);

$flex_w_ltr_c_fs_n: (
	wrap: wrap,
	direction: row,
	justify: center,
	items: flex-start,
	align: normal,
);

$flex_w_ltr_fs_c_n: (
	wrap: wrap,
	direction: row,
	justify: flex-start,
	items: center,
	align: normal,
);

$flex_w_ltr_sb_fs_n: (
	wrap: wrap,
	direction: column,
	justify: space-between,
	items: flex-start,
	align: normal,
);

$flex_w_btt_fs_fs_n: (
	wrap: wrap,
	direction: column-reverse,
	justify: flex-start,
	items: flex-start,
	align: normal,
);

$flex_w_ttb_fs_c_n: (
	wrap: wrap,
	direction: column,
	justify: flex-start,
	items: center,
	align: normal,
);

$flex_w_ttb_fs_fs_n: (
	wrap: wrap,
	direction: column,
	justify: flex-start,
	items: flex-start,
	align: normal,
);

$flex_w_ttb_fs_fs_s: (
	wrap: wrap,
	direction: column,
	justify: flex-start,
	items: flex-start,
	align: stretch,
);

$flex_w_ttb_fs_s_n: (
	wrap: wrap,
	direction: column,
	justify: flex-start,
	items: stretch,
	align: normal,
);

$flexmap_list: (
	fl_standard: $flex_standard,
	fl_w_ltr_c_c_n: $flex_w_ltr_c_c_n,
	fl_w_ltr_c_fs_n: $flex_w_ltr_c_fs_n,
	fl_w_ltr_fs_c_n: $flex_w_ltr_fs_c_n,
	fl_w_ltr_sb_fs_n: $flex_w_ltr_sb_fs_n,
	fl_w_btt_fs_fs_n: $flex_w_btt_fs_fs_n,
	fl_w_ttb_fs_c_n: $flex_w_ttb_fs_c_n,
	fl_w_ttb_fs_fs_n: $flex_w_ttb_fs_fs_n,
	fl_w_ttb_fs_fs_s: $flex_w_ttb_fs_fs_s,
	fl_w_ttb_fs_s_n: $flex_w_ttb_fs_s_n,
);