/* Variables */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/* Positions */
$pos_title__element1: (top: 40%, left: 5%);

$posmap_list: (
	title__element1: $pos_title__element1,
);

/* Containers */
$BlockMap_List: (
	HeadTitle: (elements: (Element1: (width: auto))),
	SectionTitle: (),
	FormInput: (position: relative, background: grey, elements: (Btn: (), Icon: (width: 40%, text-align: right), Txt: (width: 60%, Text-align: left, background: none, border: none))),
	FormSubmit: (),
	Bloc:(),
	FootTitle: (),
	FootContent: ()
);

/*Shadows*/

$btn_shdw: (
	vh: 5px,
	hh: 5px,
	blur: 2px,
	color: lightgrey,
);

$howto_shdw: (
	vh: 5px,
	hh: 5px,
	blur: 2px,
	color: lightgrey,
);

/*position maker maps*/

$abspct_40_nc_nc_5: (top: 40%, left: 5% );
$abspx_nc_nc_-130_nc: (bottom: -130px);

$posmap_list: (
	abspct_40_nc_nc_5: $abspct_40_nc_nc_5,
	abspx_nc_nc_-130_nc: $abspx_nc_nc_-130_nc
)