.page-content{
    @include flex(column);
    justify-content: flex-start;
    background: $color-background-light;
    &__img{
        height: 350px;
        object-fit: cover;
    }
}

.restaurant{
    @include block-padding();
    position: relative;
    background: $color-background-light;
    border-radius: 30px 30px 0px 0px;
}

.rest-id{
    @include flex(row);
    @include block-padding();
    position: absolute; 
    top: -2em;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background: $color-background-light;
    border-radius: 30px 30px 0px 0px;
    &__h2{
        width: 80%;
    }
    @include stackHeart();
}

.rest-menu{
    @include block-padding();
    @include media-width($media-width__map) using ($map){
        @include flex(row)
    }
    @for $i from 2 through 4{
        &:nth-child(#{$i}){
            $delay_menu: ($i - 2) * 800ms;
            animation: apparition_menu 800ms $delay_menu both ease-in-out;
            @for $j from 2 through 4{
                & .plat:nth-child(#{$j}){
                    $delay_plat: ($i - 2)*800ms + $j * 200ms;
                    animation: apparition_plat 200ms $delay_plat both ease-in-out;
                }
            }
        }
    }
    justify-content: space-around;
    &__h2{
        position: relative;
        width: 100%;
        padding-bottom: 1em;
        font-size: 1.25em;
        text-align: left;
        text-transform: uppercase;
        font-weight: normal;
        &::after{
            position: absolute;
            top: 1.75em;
            bottom: 0;
            left: 0;
            right: 85%;
            background: $color-tertiary;
            content: "";
        }
    }
}

.plat{
    @include flex(column);
    @include block-shadow($shadow-color);
    @include media-width($media-width__map) using ($map){
        @include media-width__bloc($media-width__map, $map, plat-width);
    }
    cursor: pointer;
    margin: 1em 0em 1em 0em;
    background: white;
    overflow: hidden;
    border-radius: 15px;
    height: 4.5em;
    &:hover{
        & > .plat__h3{
            width: 60%;
        }
        & > .plat__p{
            width: 60%;
        }
        & > .plat-container .plat-container__icon{
            transform: rotate(360deg);
        }
    }
    &__h3{
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5em 0em 0.1em 1em;
        width: 80%;
        text-align: left;
        transition: width 500ms ease-in-out;
    }
    &__p{
        
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.1em 0em 0.5em 1em;
        width: 80%;
        text-align: left;
        transition: width 500ms ease-in-out;
    }
    &__price{
        width: 20%;
        text-align: center;
        font-weight: bold;
        height: 4.5em;
        padding-top: 2.25em;
    }
    &-container{
        width: 20%;
        background: $color-tertiary;
        height: 4.5em;
        padding: 1.75em 0em 1.75em 0em;
        &__icon{
            color: white;
            transform: rotate(0deg);
            transition: transform 500ms ease-in-out;
        }
    }
}
