.index{
    position: relative;
	&-spinner{
		@include flex(column);
		justify-content: center;
		position: fixed;
		top: 30%;
		bottom: 50%;
		left: 30%;
		width: 40%;
		background: $color-background-dark;
		border-radius: 30px;
		color: white;
		z-index:2;
		animation: spinner_anim 4000ms both;
		&__icon{
			animation: spinnerIcon_anim 3500ms 250ms both;
		}
		&__p{
			animation: spinnerP_anim 3500ms 250ms both;
		}
	}
	&::after{
		@include afterLayer();
		content: "";
		z-index: 1;
		transform-origin: right;
		background: white;
		animation: loading_background 4000ms both;
	}
}

.section{
    padding: 2em;
    &_bottomOnlyPadding{
        padding-top: 0em;
        padding-right: 0em;
        padding-left: 0em;
    }
    &_bckgdGrey{
        background: $color-background-light;
    }
}

.section-title{
    @include flex(column);
    align-items: center;
    &__h2{
        @include textLeft();
    }
    &__p{

    }
}

.section-content{
    @include flex(column);
    @include media-width($media-width__map) using ($map){
        @include flex(row);
        justify-content: space-around;
    }
    padding: 0em 1em 0em 1em;
    counter-reset: how-to;
    list-style: none;
    & > * {
        margin-bottom: 1.25em;
    }
    &_flexCenter{
        align-items: center;
    }
    &_flexEnd{
        align-items: flex-end;
    }
}

.how-to{
    @include block-shadow($shadow-color);
    @include flex(row);
    @include media-width($media-width__map) using ($map){
        $width__map: map-get($media-width__map, $map);
        width: map-get($width__map, howto-width);
        height: 6em;

    }
    align-items: center;
    position: relative;
    border-radius: 15px;
    background: $color-background-light;
    width: 90%;
    padding: 1.5em;
    &::before{
        position: absolute;
        counter-increment: how-to;
        content: counter(how-to);
        left:-0.8em;
        background: $color-primary;
        padding: 0.2em 0.6em 0.2em 0.6em;
        border-radius: 50%;
        color: white;
        font-weight: bold;
    }
    &__icon{
        @include media-width($media-width__map) using ($map){
            text-align: right;
        }
        width: 20%;
        &_purple{
            color: $color-primary;
        }
    }
    &__p{
        @include media-width($media-width__map) using ($map){
            text-align: center;
        }
        width: 80%;
        text-align: left;
    }
    &_purple{
        background: enlight($color-primary, 30);
    }
}

.bloc-rest{
    @include flex(column);
    @include block-shadow($shadow-color);
    @include media-width($media-width__map) using ($map){
        $width__map: map-get($media-width__map, $map);
        width: map-get($width__map, rest-width);
    }
    position: relative;
    width: 95%;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    &__img{
        height: 225px;
        object-fit: cover;
    }
    & .descr{
        @include flex(column);
        justify-content: center;
        padding: 0.5em 1em 0.5em 1em;
        height: 4.5em;
        &__h3, .descr__p{
            max-width: 90%;
            text-align: left;
        }
        &__h3{
            font-weight: bold;
        }
        @include stackHeart();
    }

    
    
    &_new{
        &::before{
            content: "Nouveau";
            position: absolute;
            top: 10%;
            right: 10%;
            padding: 0.25em;
            background-color: $color-tertiary;
            color: $color-new;
        }
    }
}