.section{
    padding: 2em;
    &_bottomOnlyPadding{
        padding-top: 0em;
        padding-right: 0em;
        padding-left: 0em;
    }
    &_bckgdGrey{
        background: $color-background-light;
    }
}

.section-title{
    @include flex(column);
    align-items: center;
    &__h2{
        @include textLeft();
    }
    &__p{

    }
    @include btn();
}

.section-content{
    @include flex(column);
    padding: 0em 1em 0em 1em;
    counter-reset: how-to;
    list-style: none;
    & > * {
        margin-bottom: 1.25em;
    }
    &_flexCenter{
        align-items: center;
    }
    &_flexEnd{
        align-items: flex-end;
    }
}

.how-to{
    @include block-shadow();
    @include flex(row);
    align-items: center;
    position: relative;
    border-radius: 15px;
    background: $color-background-light;
    width: 90%;
    padding: 1.5em;
    &::before{
        position: absolute;
        counter-increment: how-to;
        content: counter(how-to);
        left:-0.8em;
        background: $color-primary;
        padding: 0.2em 0.6em 0.2em 0.6em;
        border-radius: 50%;
        color: white;
        font-weight: bold;
    }
    &__icon{
        width: 20%;
        &_purple{
            color: $color-primary;
        }
    }
    &__p{
        width: 80%;
        text-align: left;
    }
    &_purple{
        background: enlight($color-primary, 30);
    }
}

.bloc-rest{
    @include flex(column);
    @include block-shadow();
    position: relative;
    width: 95%;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    &__img{
        height: 225px;
        object-fit: cover;
    }
    & .descr{
        @include flex(column);
        justify-content: center;
        padding: 0.5em 1em 0.5em 1em;
        height: 4.5em;
        &__h3, .descr__p{
            width: 90%;
            text-align: left;
        }
        &__h3{
            font-weight: bold;
        }
        &__icon{
            width: 10%;
        }
    }
    &__icon{
        position: absolute;
        right: 5%;
        bottom: 7%;
        width: auto;
    }
    &_new{
        &::before{
            content: "Nouveau";
            position: absolute;
            top: 10%;
            right: 10%;
            padding: 0.25em;
            background-color: $color-tertiary;
            color: $color-new;
        }
    }
}