footer{
	margin: 0em;
	background: grey;
	@include block_padding();
}
.foot-title {
	&__h2{
		font-family: 'shrikhand';
		text-transform: lowercase;
		text-align: left;
		color: white;
	}
}

.foot-content{
	@include flex(column);
	align-items: flex-start;
	&__a{
		text-align: left;
		color: white;
	}
	&__icon{
		width: auto;
		color: white;
	}
}