.searchBox{
    @include flex(row);
    @include block-padding;
    justify-content: center;
    align-items: center;
    background: linear-gradient(darken($color-background-normal, 15%) 3%, $color-background-normal 10%);
    &__icon{
        text-align: right;
        width: 30%;
    }
    &__input{
        outline: none;
        border: none;
        background: none;
        text-align: left;
        width: 70%;
        &::placeholder{
            color: black;
        }
    }
}
