.form {
	background: #f2f2f2;
	padding: 0px 0px 80px 0px;
	margin-bottom: 50px;
	&__input {
		background: lightgrey;
		& i {
			width: 10%;
		}
		@include flexbox(wrap, '', flex-end, center);
		& input {
			background: none;
			border: none;
			width: 60%;
			outline: none;
			text-align: left;
		}
	}
	@include btn;
}
