.head {
	&--main {
		@include flexbox($header--main);
		& a {
			display: none;
		}
		& h1 {
			width: 100%;
			margin: 0;
		}
	}
	&--page {
		@include flexbox($header--page);
		& a {
			width: 10%;
		}
		& h1 {
			width: 90%;
			margin: 0;
		}
	}
}
