.btn{
    @include block-shadow($shadow-color);
    @include block-padding;
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: 60%;
    margin: 1em 0em 1em 0em;
    border-radius: 20px;
    border: none;
    outline: none;
    background: $color-primary;
    color: white;
    font-weight: bold;
    transition: box-shadow 250ms;
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        @include block-shadow($shadow-color_hover);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        content: "";
        border-radius: 20px;
        background: lighten($color-primary, 10);
        opacity: 0;
        transition: opacity 250ms ease-in-out;
    }
    
}