@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto.ttf");
  src: url("../fonts/roboto/roboto.woff") format("woff");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/shrikhand/shrikhand.ttf");
}
* {
  font-family: "Roboto";
  text-transform: none;
  font-size: 16px;
  margin-block: 0px;
}

h1 {
  font-family: "Shrikhand";
  text-transform: lowercase;
  font-size: 2.5em;
  margin-block: 0.5em;
}

h2 {
  font-size: 1.75em;
  text-align: center;
  line-height: 1em;
  margin-block: 0.5em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin-block-end: 0.2em;
}

p {
  margin-block-start: 0.2em;
}

/* Variables */
/* Containers */
/*Shadows*/
/*position maker maps*/
body {
  max-width: 480px;
  min-width: 360px;
  margin: auto;
  border: 1px solid;
}

* {
  box-sizing: border-box;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
}

a {
  display: inline-block;
}

.Option {
  width: 10%;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.fl_standard {
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: normal;
}

.fl_w_ltr_c_c_n {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  align-content: normal;
}

.fl_w_ltr_c_fs_n {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: flex-start;
  align-content: normal;
}

.fl_w_ltr_fs_c_n {
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
}

.fl_w_ltr_sb_fs_n {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: normal;
}

.fl_w_btt_fs_fs_n {
  display: flex;
  flex-flow: wrap column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: normal;
}

.fl_w_ttb_fs_c_n {
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
}

.fl_w_ttb_fs_fe_n {
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: normal;
}

.fl_w_ttb_fs_fs_n {
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: normal;
}

.fl_w_ttb_fs_fs_s {
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}

.fl_w_ttb_fs_s_n {
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
}

.abspct_40_nc_nc_5 {
  position: absolute;
  top: 40%;
  left: 5%;
}

.abspct_nc_nc_nc_10 {
  position: absolute;
  left: 10%;
}

.absem_nc_nc_nc_-1 {
  position: absolute;
  left: -1em;
}

.absem_nc_nc_-11_nc {
  position: absolute;
  bottom: -11em;
}

.Section__Content {
  padding: 0em 1em 0em 1em;
}
.Section__Content > * {
  margin-bottom: 1em;
}

.TallerBckgd {
  background: lightgrey;
  padding: 0px 0px 150px 0px;
}

.purple {
  background: #e4d5f6;
}

.BlocRule {
  position: relative;
  width: 85%;
  border-radius: 15px;
  background: #f2f2f2;
  padding: 1.5em 0em 1.5em 0em;
}
.BlocRule__No {
  width: auto;
  background: #9356dc;
  border-radius: 50%;
  padding: 0.5em 0.75em 0.5em 0.75em;
  font-weight: bold;
  color: white;
}
.BlocRule__Icon {
  width: 10%;
  text-align: center;
  line-height: 100%;
}
.BlocRule__Txt {
  font-weight: bold;
  line-height: 100%;
}

.BlocImg {
  border-radius: 15px 15px 0px 0px;
  height: 250px;
  object-fit: cover;
}

.FormInput {
  padding: 1em;
  position: relative;
  background: grey;
}
.FormInput__Icon {
  width: 40%;
  text-align: right;
}
.FormInput__Txt {
  width: 60%;
  text-align: left;
  background: none;
  border: none;
}
.FormInput__Btn {
  padding: 1em;
  box-shadow: 5px 5px 2px lightgrey;
  width: 60%;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background: linear-gradient(-5deg, #9356dc, #ff79da);
  outline: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
