@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto.ttf");
  src: url("../fonts/roboto/roboto.woff") format("woff");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/shrikhand/shrikhand.ttf");
}
* {
  font-family: "Roboto";
  text-transform: none;
  font-size: 16px;
  margin: 0px;
}

h1 {
  font-family: "Shrikhand";
  text-transform: lowercase;
  font-size: 2.5em;
  margin: 0.5em 0em 0.5em 0em;
}

h2 {
  font-size: 1.75em;
  text-align: center;
  line-height: 1em;
  margin: 0.5em 0em 0.5em 0em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

p {
  margin-top: 0.2em;
}

@keyframes loading_background {
  0%, 80% {
    transform: scale(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes spinner_anim {
  0% {
    transform: translateY(-200%) scale(0);
  }
  16% {
    transform: translateY(5%) scale(1);
  }
  21% {
    transform: translateY(-3%);
  }
  24% {
    transform: translateY(1%);
  }
  25% {
    transform: translateY(0%);
  }
  75% {
    transform: translateX(0%);
  }
  78% {
    transform: translateX(-5%) skew(15deg, 0deg);
  }
  100% {
    transform: translateX(200%);
  }
}
@keyframes spinnerP_anim {
  0% {
    transform: scale(0);
  }
  25%, 75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spinnerIcon_anim {
  0% {
    transform: rotate(0deg) scale(0);
  }
  25% {
    transform: rotate(180deg) scale(1);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes apparition_menu {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes apparition_plat {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  40% {
    transform: translateY(5%);
    opacity: 0.2;
  }
  90% {
    transform: translateY(1%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
}

body {
  max-width: 760px;
  min-width: 360px;
  margin: auto;
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
  body {
    max-width: 1024px;
    min-width: 761px;
  }
}
@media screen and (min-width: 1025px) {
  body {
    max-width: none;
    min-width: 1025px;
  }
}

a {
  text-decoration: none;
  color: black;
}

.stackHeart__icon {
  opacity: 1;
  z-index: 1;
  transition: opacity 250ms ease-in-out;
}
.stackHeart__icon:hover {
  opacity: 0;
}
.stackHeart__icon:hover + .stackHeart__icon_full {
  opacity: 1;
}
.stackHeart__icon_full {
  z-index: 0;
  opacity: 0;
  color: #9356dc;
}

.btn {
  box-shadow: 0px 8px 15px lightgrey;
  padding: 1em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 60%;
  margin: 1em 0em 1em 0em;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #9356dc;
  color: white;
  font-weight: bold;
  transition: box-shadow 250ms;
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .btn:hover::after {
    opacity: 1;
  }
}
@media screen and (min-width: 1025px) {
  .btn:hover::after {
    opacity: 1;
  }
}
.btn:active::after {
  opacity: 1;
}
.btn::after {
  box-shadow: 0px 8px 15px grey;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  content: "";
  border-radius: 20px;
  background: linear-gradient(-30deg, transparent, 60%, #ff79da);
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.index {
  position: relative;
}
.index-spinner {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: fixed;
  top: 30%;
  bottom: 50%;
  left: 30%;
  width: 40%;
  background: #353535;
  border-radius: 30px;
  color: white;
  z-index: 2;
  animation: spinner_anim 4000ms both;
}
.index-spinner__icon {
  animation: spinnerIcon_anim 3500ms 250ms both;
}
.index-spinner__p {
  animation: spinnerP_anim 3500ms 250ms both;
}
.index::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 1;
  transform-origin: right;
  background: white;
  animation: loading_background 4000ms both;
}

.section {
  padding: 2em;
}
.section_bottomOnlyPadding {
  padding-top: 0em;
  padding-right: 0em;
  padding-left: 0em;
}
.section_bckgdGrey {
  background: #f6f6f6;
}

.section-title {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.section-title__h2_textLeft {
  text-align: left;
}
.section-content {
  display: flex;
  flex-flow: column wrap;
  padding: 0em 1em 0em 1em;
  counter-reset: how-to;
  list-style: none;
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .section-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1025px) {
  .section-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
.section-content > * {
  margin-bottom: 1.25em;
}
.section-content_flexCenter {
  align-items: center;
}
.section-content_flexEnd {
  align-items: flex-end;
}

.how-to {
  box-shadow: 0px 8px 15px lightgrey;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  border-radius: 15px;
  background: #f6f6f6;
  width: 90%;
  padding: 1.5em;
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .how-to {
    width: 40%;
    height: 6em;
  }
}
@media screen and (min-width: 1025px) {
  .how-to {
    width: 30%;
    height: 6em;
  }
}
.how-to::before {
  position: absolute;
  counter-increment: how-to;
  content: counter(how-to);
  left: -0.8em;
  background: #9356dc;
  padding: 0.2em 0.6em 0.2em 0.6em;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}
.how-to__icon {
  width: 20%;
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .how-to__icon {
    text-align: right;
  }
}
@media screen and (min-width: 1025px) {
  .how-to__icon {
    text-align: right;
  }
}
.how-to__icon_purple {
  color: #9356dc;
}
.how-to__p {
  width: 80%;
  text-align: left;
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .how-to__p {
    text-align: center;
  }
}
@media screen and (min-width: 1025px) {
  .how-to__p {
    text-align: center;
  }
}
.how-to_purple {
  background: #e4d5f6;
}

.bloc-rest {
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0px 8px 15px lightgrey;
  position: relative;
  z-index: 1;
  width: 95%;
  background: white;
  border-radius: 15px;
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .bloc-rest {
    width: 40%;
  }
}
@media screen and (min-width: 1025px) {
  .bloc-rest {
    width: 40%;
  }
}
.bloc-rest__img {
  height: 225px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.bloc-rest .descr {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0.5em 1em 0.5em 1em;
  height: 4.5em;
}
.bloc-rest .descr__h3, .bloc-rest .descr .descr__p {
  max-width: 90%;
  text-align: left;
}
.bloc-rest .descr__h3 {
  font-weight: bold;
}
.bloc-rest .descr__stackHeart {
  width: 10%;
  cursor: pointer;
}
.bloc-rest_new::before {
  content: "Nouveau";
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 0.25em;
  background-color: #99e2d0;
  color: #139273;
}

footer {
  margin: 0em;
  background: grey;
  padding: 1em;
}

.foot-title__h2 {
  font-family: "shrikhand";
  color: white;
  text-transform: lowercase;
  text-align: left;
}

.foot-content {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.foot-content__a {
  text-align: left;
}
.foot-content__icon {
  width: auto;
}

.searchBox {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#c4c4c4 3%, #eaeaea 10%);
}
.searchBox__icon {
  text-align: right;
  width: 30%;
}
.searchBox__input {
  outline: none;
  border: none;
  background: none;
  text-align: left;
  width: 70%;
}
.searchBox__input::placeholder {
  color: black;
}

.head-title {
  position: relative;
}
.head-title__a {
  position: absolute;
  top: 1em;
  left: 0em;
  width: 10%;
}
.head-title__a_hidden {
  display: none;
}

.page-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  background: #f6f6f6;
}
.page-content__img {
  height: 350px;
  object-fit: cover;
}

.restaurant {
  padding: 1em;
  position: relative;
  background: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
}

.rest-id {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  position: absolute;
  top: -2em;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
}
.rest-id__h2 {
  width: 80%;
}
.rest-id__stackHeart {
  width: 10%;
  cursor: pointer;
}

.rest-menu {
  padding: 1em;
  justify-content: space-around;
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .rest-menu {
    display: flex;
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 1025px) {
  .rest-menu {
    display: flex;
    flex-flow: row wrap;
  }
}
.rest-menu:nth-child(2) {
  animation: apparition_menu 800ms 0ms both ease-in-out;
}
.rest-menu:nth-child(2) .plat:nth-child(2) {
  animation: apparition_plat 200ms 400ms both ease-in-out;
}
.rest-menu:nth-child(2) .plat:nth-child(3) {
  animation: apparition_plat 200ms 600ms both ease-in-out;
}
.rest-menu:nth-child(2) .plat:nth-child(4) {
  animation: apparition_plat 200ms 800ms both ease-in-out;
}
.rest-menu:nth-child(2) .plat:nth-child(5) {
  animation: apparition_plat 200ms 1000ms both ease-in-out;
}
.rest-menu:nth-child(3) {
  animation: apparition_menu 800ms 800ms both ease-in-out;
}
.rest-menu:nth-child(3) .plat:nth-child(2) {
  animation: apparition_plat 200ms 1200ms both ease-in-out;
}
.rest-menu:nth-child(3) .plat:nth-child(3) {
  animation: apparition_plat 200ms 1400ms both ease-in-out;
}
.rest-menu:nth-child(3) .plat:nth-child(4) {
  animation: apparition_plat 200ms 1600ms both ease-in-out;
}
.rest-menu:nth-child(3) .plat:nth-child(5) {
  animation: apparition_plat 200ms 1800ms both ease-in-out;
}
.rest-menu:nth-child(4) {
  animation: apparition_menu 800ms 1600ms both ease-in-out;
}
.rest-menu:nth-child(4) .plat:nth-child(2) {
  animation: apparition_plat 200ms 2000ms both ease-in-out;
}
.rest-menu:nth-child(4) .plat:nth-child(3) {
  animation: apparition_plat 200ms 2200ms both ease-in-out;
}
.rest-menu:nth-child(4) .plat:nth-child(4) {
  animation: apparition_plat 200ms 2400ms both ease-in-out;
}
.rest-menu:nth-child(4) .plat:nth-child(5) {
  animation: apparition_plat 200ms 2600ms both ease-in-out;
}
.rest-menu__h2 {
  position: relative;
  width: 100%;
  padding-bottom: 1em;
  font-size: 1.25em;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
}
.rest-menu__h2::after {
  position: absolute;
  top: 1.75em;
  bottom: 0;
  left: 0;
  right: 85%;
  background: #99e2d0;
  content: "";
}

.plat {
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0px 8px 15px lightgrey;
  overflow: hidden;
  cursor: pointer;
  margin: 1em 0em 1em 0em;
  background: white;
  border-radius: 15px;
  height: 4.5em;
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .plat {
    width: 80%;
  }
  .plat:hover > .plat__h3 {
    width: 60%;
  }
  .plat:hover > .plat__p {
    width: 60%;
  }
  .plat:hover > .plat-container .plat-container__icon {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 1025px) {
  .plat {
    width: 45%;
  }
  .plat:hover > .plat__h3 {
    width: 60%;
  }
  .plat:hover > .plat__p {
    width: 60%;
  }
  .plat:hover > .plat-container .plat-container__icon {
    transform: rotate(360deg);
  }
}
.plat:active > .plat__h3 {
  width: 60%;
}
.plat:active > .plat__p {
  width: 60%;
}
.plat:active > .plat-container .plat-container__icon {
  transform: rotate(360deg);
}
.plat__h3 {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5em 0em 0.1em 1em;
  width: 80%;
  text-align: left;
  transition: width 500ms ease-in-out;
}
.plat__p {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.1em 0em 0.5em 1em;
  width: 80%;
  text-align: left;
  transition: width 500ms ease-in-out;
}
.plat__price {
  width: 20%;
  text-align: center;
  font-weight: bold;
  height: 4.5em;
  padding-top: 2.25em;
}
.plat-container {
  width: 20%;
  background: #99e2d0;
  height: 4.5em;
  padding: 1.75em 0em 1.75em 0em;
}
.plat-container__icon {
  color: white;
  transform: rotate(0deg);
  transition: transform 500ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
