@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto.ttf");
  src: url("../fonts/roboto/roboto.woff") format("woff");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/shrikhand/shrikhand.ttf");
}
* {
  font-family: "Roboto";
  text-transform: none;
  font-size: 16px;
  margin-block: 0px;
}

h1 {
  font-family: "Shrikhand";
  text-transform: lowercase;
  font-size: 2.5em;
  margin-block: 0.5em;
}

h2 {
  font-size: 1.75em;
  text-align: center;
  line-height: 1em;
  margin-block: 0.5em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin-block-end: 0.2em;
}

p {
  margin-block-start: 0.2em;
}

body {
  max-width: 480px;
  min-width: 360px;
  margin: auto;
}

* {
  box-sizing: border-box;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h2, h3, p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stackHeart__icon {
  opacity: 1;
  z-index: 1;
  transition: opacity 250ms ease-in-out;
}
.stackHeart__icon:hover {
  opacity: 0;
}
.stackHeart__icon:hover + .stackHeart__icon_full {
  opacity: 1;
}
.stackHeart__icon_full {
  z-index: 0;
  opacity: 0;
  color: #9356dc;
}

.btn {
  box-shadow: 0px 8px 15px grey;
  padding: 1em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 60%;
  margin: 1em 0em 1em 0em;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #9356dc;
  color: white;
  font-weight: bold;
  transition: box-shadow 250ms;
}
.btn:hover {
  box-shadow: none;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  content: "";
  border-radius: 20px;
  background: #ae80e5;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.section {
  padding: 2em;
}
.section_bottomOnlyPadding {
  padding-top: 0em;
  padding-right: 0em;
  padding-left: 0em;
}
.section_bckgdGrey {
  background: #f6f6f6;
}

.section-title {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.section-title__h2_textLeft {
  text-align: left;
}
.section-content {
  display: flex;
  flex-flow: column wrap;
  padding: 0em 1em 0em 1em;
  counter-reset: how-to;
  list-style: none;
}
.section-content > * {
  margin-bottom: 1.25em;
}
.section-content_flexCenter {
  align-items: center;
}
.section-content_flexEnd {
  align-items: flex-end;
}

.how-to {
  box-shadow: 0px 8px 15px grey;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  border-radius: 15px;
  background: #f6f6f6;
  width: 90%;
  padding: 1.5em;
}
.how-to::before {
  position: absolute;
  counter-increment: how-to;
  content: counter(how-to);
  left: -0.8em;
  background: #9356dc;
  padding: 0.2em 0.6em 0.2em 0.6em;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}
.how-to__icon {
  width: 20%;
}
.how-to__icon_purple {
  color: #9356dc;
}
.how-to__p {
  width: 80%;
  text-align: left;
}
.how-to_purple {
  background: #e4d5f6;
}

.bloc-rest {
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0px 8px 15px grey;
  position: relative;
  width: 95%;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}
.bloc-rest__img {
  height: 225px;
  object-fit: cover;
}
.bloc-rest .descr {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0.5em 1em 0.5em 1em;
  height: 4.5em;
}
.bloc-rest .descr__h3, .bloc-rest .descr .descr__p {
  max-width: 90%;
  text-align: left;
}
.bloc-rest .descr__h3 {
  font-weight: bold;
}
.bloc-rest .descr__stackHeart {
  width: 10%;
  cursor: pointer;
}
.bloc-rest_new::before {
  content: "Nouveau";
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 0.25em;
  background-color: #99e2d0;
  color: #139273;
}

footer {
  margin: 0em;
  background: grey;
  padding: 1em;
}

.foot-title__h2 {
  font-family: "shrikhand";
  color: white;
  text-transform: lowercase;
  text-align: left;
}

.foot-content {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.foot-content__a {
  text-align: left;
}
.foot-content__icon {
  width: auto;
}

.searchBox {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#c4c4c4 3%, #eaeaea 10%);
}
.searchBox__icon {
  text-align: right;
  width: 30%;
}
.searchBox__input {
  outline: none;
  border: none;
  background: none;
  text-align: left;
  width: 70%;
}
.searchBox__input::placeholder {
  color: black;
}

.head-title {
  position: relative;
}
.head-title__a {
  position: absolute;
  top: 1em;
  left: 0em;
  width: 10%;
}
.head-title__a_hidden {
  display: none;
}
.page-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  background: #f6f6f6;
}
.page-content__img {
  height: 350px;
  object-fit: cover;
}

.restaurant {
  padding: 1em;
  position: relative;
  background: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
}

.rest-id {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  position: absolute;
  top: -2em;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
}
.rest-id__h2 {
  width: 80%;
}
.rest-id__stackHeart {
  width: 10%;
  cursor: pointer;
}

.rest-menu {
  padding: 1em;
}
.rest-menu__h2 {
  position: relative;
  width: 100%;
  padding-bottom: 1em;
  font-size: 1.25em;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
}
.rest-menu__h2::after {
  position: absolute;
  top: 1.75em;
  bottom: 0;
  left: 0;
  right: 85%;
  background: #99e2d0;
  content: "";
}

.plat {
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0px 8px 15px grey;
  cursor: pointer;
  margin: 1em 0em 1em 0em;
  overflow: hidden;
  background: white;
  border-radius: 15px;
  height: 4.5em;
}
.plat:hover > .plat__h3 {
  width: 60%;
}
.plat:hover > .plat__p {
  width: 60%;
}
.plat:hover > .plat-container .plat-container__icon {
  transform: rotate(360deg);
}
.plat__h3 {
  padding: 0.5em 0em 0.1em 1em;
  width: 80%;
  text-align: left;
  transition: width 250ms ease-in-out;
}
.plat__p {
  padding: 0.1em 0em 0.5em 1em;
  width: 80%;
  text-align: left;
  transition: width 250ms ease-in-out;
}
.plat__price {
  width: 20%;
  text-align: center;
  font-weight: bold;
  height: 4.5em;
  padding-top: 2.25em;
}
.plat-container {
  width: 20%;
  background: #99e2d0;
  height: 4.5em;
  padding: 1.75em;
}
.plat-container__icon {
  color: white;
  transform: rotate(0deg);
  transition: transform 250ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
