body {
	max-width: 480px;
	min-width: 360px;
	margin: auto;
	border: 1px solid;
}

* {
	box-sizing: border-box;
	text-transform: capitalize;
	text-align: center;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

