* {
	box-sizing: border-box;
	text-transform: capitalize;
	text-align: center;
	width: 100%;
}

body {
	position: relative;
	z-index: -1;
	max-width: 760px;
	min-width: 360px;
	margin: auto;
	overflow-x: hidden;
}

.index{
	&-spinner{
		@include flex(column);
		justify-content: center;
		position: fixed;
		top: 30%;
		bottom: 50%;
		left: 30%;
		width: 40%;
		background: $color-background-dark;
		border-radius: 30px;
		color: white;
		z-index:2;
		animation: spinner_anim 4000ms both;
		&__icon{
			animation: spinnerIcon_anim 3500ms 250ms both;
		}
		&__p{
			animation: spinnerP_anim 3500ms 250ms both;
		}
	}
	&::after{
		@include afterLayer();
		content: "";
		z-index: 1;
		transform-origin: right;
		opacity:0.8;
		background: $color-background-dark;
		animation: loading_background 4000ms both;
	}
}

a {
	text-decoration: none;
	color: black;
}

.stackHeart{
	&__icon{
		opacity: 1;
		z-index: 1;
		transition: opacity 250ms ease-in-out;
		&:hover{
			opacity: 0;
			& + .stackHeart__icon_full {
				opacity: 1;
			}

		}
		&_full{
			z-index: 0;
			opacity: 0;
			color: $color-primary;
		}
	}
}