body {
	max-width: 480px;
	min-width: 360px;
	margin: auto;
	border: 1px solid;
}

* {
	box-sizing: border-box;
	text-transform: capitalize;
	text-align: center;
	width: 100%;
}

a {
	display: inline-block;
}

.relative{
	position: relative;
}

.hidden{
	display: none;
}

@include flexbox($flexmap_list);
@include position_maker($posmap_list);


