* {
	box-sizing: border-box;
	text-transform: capitalize;
	text-align: center;
	width: 100%;
}

body {
	max-width: 760px;
	min-width: 360px;
	margin: auto;
	@include media-width($media-width__map) using ($map){
			$width__map: map-get($media-width__map, $map);
			max-width: map-get($width__map, max);
			min-width: map-get($width__map, min);
	}
	
}



a {
	text-decoration: none;
	color: black;
}

.stackHeart{
	&__icon{
		@include media-width($media-width__map) using ($map){
			&:hover{
				opacity: 0;
				& + .stackHeart__icon_full {
					opacity: 1;
				}
			}
		}
		opacity: 1;
		z-index: 1;
		transition: opacity 250ms ease-in-out;
		&:active{
			opacity: 0;
			& + .stackHeart__icon_full {
				opacity: 1;
			}

		}
		&_full{
			z-index: 0;
			opacity: 0;
			color: $color-primary;
		}
	}
}